.button {
    @include font($size: 2rem, $weight: 500);
    border-radius: $radius;
    padding: 0.2rem 0.5rem;
    text-align: center;

    &_light {
        border: 1px solid $color-bright-light;
        color: $color-bright;
        background-color: $color-bright-light;
    }

    &_bright {
        border: 1px solid $color-bright;
        color: $color-light;
        background-color: $color-bright;
    }

    &_latest-episode {
        background-image: url('./assets/icons/play.svg');
        background-repeat: no-repeat;
        background-position: left;
        background-size: 3rem;
        padding-left: 3rem;
    }

    &_spoti {
        border: 1px solid $color-bright;
        color: $color-bright;
    }

    &_actions {
        -webkit-mask: url('./assets/icons/more.svg') no-repeat center;
        mask: url('./assets/icons/more.svg') no-repeat center;
        background-color: $color-bright;
        background-repeat: no-repeat;
        background-position: left;
        width: 5rem;
        font-weight: 600;
    }
}
