.card {

  width: 23rem;
  padding: 2rem;
  margin: 1rem;
  aspect-ratio: 1 / 1;
  border-radius: $radius;
  cursor: pointer;
  background-color: $color-bright-light;
  transition: background-color .2s;
  position: relative;

  &:hover {
    background-color: $color-menu;
  }

  &:hover .card__play {
    opacity: 1;
    transform: translateY(-2rem) scale(1);
  }

  &__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    border-radius: $radius;
    background-color: $color-bright-light;

  }

  &__image {
    object-fit: scale-down;
    height: 100%;
  }

  &__title {
    @include text-clamp(2);
    font-size: 2rem;
    margin: 1.5rem 0 1rem;
    text-transform: capitalize;
  }

  &__descr {
    @include text-clamp(2);
    font-size: 1.8rem;
  }

  &__play {
    position: absolute;
    right: 3rem;
    top: 17rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: $color-very-bright;
    opacity: 0;
    transition: transform .3s, opacity .3s;
  }

  & > .card__play:hover {
    opacity: 1;
    transform: translateY(-2rem) scale(1.05);
  }

  & > .card__play:active {
    background-color: $color-bright;
  }

  &__play::after {
    content: '';
    position: absolute;
    left: calc(50% - .7rem);
    top: calc(50% - .9rem);
    width: 0;
    height: 0;
    border-left: 1.8rem solid $color-dark;
    border-bottom: .9rem solid transparent;
    border-top: .9rem solid transparent;
  }
}