.episodes__header {
    padding-left: 1rem;
}

.episode {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    border-bottom: 1px solid $color-additional-light;
    border-radius: $radius;
    position: relative;
    cursor: pointer;

    &_latest {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    &:hover {
        background-color: $color-additional-light;
    }

    &:hover .actions, &:hover .actions_spoti {
        opacity: 1;
    }
}

.episode_latest .episode__image_spoti {
    display: none;
}

.actions_spoti { //onmouseover
    display: flex;
    gap: 1rem;
    position: absolute;
    right: 0;
    bottom: 0.7rem;
    opacity: 0;
}

.episode__image_spoti {
    width: 15rem;
    height: 15rem;
    border-radius: $radius;
    border: 1px solid $color-bright; //delete at the end

    @include media-mobile {
        display: none;
    }
}

.episode__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.episode__time {
    color: $color-additional;
    text-transform: capitalize;
    padding-bottom: 1rem;
}

.actions {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-self: end;
    opacity: 0;
}

.button_action {
    width: 3rem;
    height: 3rem;
    background-color: $color-bright;
    cursor: pointer;
}

.save {
    -webkit-mask: url('./assets/icons/save.svg') no-repeat center;
    mask: url('./assets/icons/save.svg') no-repeat center;
}

.share {
    -webkit-mask: url('./assets/icons/share.svg') no-repeat center;
    mask: url('./assets/icons/share.svg') no-repeat center;
}

.title_up-next {
    color: $color-additional;
    padding-left: 1rem;
}

.episode__title_spoti {
    padding-left: 2rem;
    position: relative;

    &::before {
        content: '';
        width: 1rem;
        height: 1rem;
        -webkit-mask: url('./assets/icons/point.svg') no-repeat center;
        mask: url('./assets/icons/point.svg') no-repeat center;
        background-color: $color-bright;
        position: absolute;
        top: 0.5rem;
        left: 0;
    }
}

.more_spoti, .add {
    -webkit-mask: url('./assets/icons/more.svg') no-repeat center;
    mask: url('./assets/icons/more.svg') no-repeat center;
}
