.menu__item {

  display: flex;
  align-items: center;
  cursor: pointer;
  padding: .5rem;
  margin-bottom: .5rem;
  border-radius: $radius;
  transition: background-color .3s;

  &.active {
    background-color: $color-not-active;
  }

  &.active .menu__item-text,
  &:hover .menu__item-text {
    opacity: 1;
    ;
  }

  &-logo {
    margin-right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    background-size: 2.5rem;
    display: inline-block;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: $color-bright;
  }

  &-logo.home {
    -webkit-mask: url('./assets/icons/home.svg') no-repeat center;
    mask: url('./assets/icons/home.svg') no-repeat center;
  }

  &-logo.library {
    -webkit-mask: url('./assets/icons/save.svg') no-repeat center;
    mask: url('./assets/icons/save.svg') no-repeat center;
  }

  &-text {
    @include font($size: 2rem, $weight: 600);
    display: inline-block;
    opacity: .6;
    transition: opacity .3s;
  }

  // user btn
  &.account {
    align-self: flex-start;
    width: calc(100% - 4rem);
    margin: 2rem;
  }

  &.account:hover {
    background-color: $color-not-active;
  }

  &.account:active {
    opacity: .5;
  }


  &-logo.account {
    -webkit-mask: url('./assets/icons/user.svg') no-repeat center;
    mask: url('./assets/icons/user.svg') no-repeat center;
  }
}