.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  z-index: 100;

  &__form {
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70rem;
    width: 70%;
    z-index: 11;
    background-color: white;
    border-radius: .8rem;
    border: .2rem solid blue;
    cursor: auto;
  }

  &__title {
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    // border-bottom: .1rem solid #000;
  }

  &__wrapper {
    margin: 1rem;
    text-align: center;
    width: 70%;
    position: relative;
  }

  &__wrapper.err::after {
    display: block;
  }

  &__wrapper.err > input {
    border-color: red;
  }

  &__wrapper::after {
    content: 'ERR';
    display: none;
    position: absolute;
    left: .5rem;
    top: .4rem;
    color: red;
    font-weight: 500;
  }

  &__input {
    width: 100%;
    text-align: center;
  }

  &__card-data {
    width: 50%;
    padding-top: 5%;
    margin-bottom: 2rem;
    position: relative;
    background-color: #ccc;
    display: flex;
    justify-content: flex-end;    
    flex-wrap: wrap;
    border-radius: .8rem;
  }

  &__img {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 13%;
    border-radius: .2rem;
  }

  // &__wrapper:nth-last-child(1),
  // &__wrapper:nth-last-child(2) {
  //   width: 32%;
  //   margin-bottom: 10%;
  // }

  &__confirm {
    margin-bottom: 1rem;
    padding: .5rem 2rem;
    font-size: 2rem;
  }
}