.player_small {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.progress_small {
    height: 0.5rem;
    width: 10%;
    background-color: $color-additional-light;
    border-radius: $radius;
}

.duration,
.episode__time {
    @include font($size: 1.5rem);
}

.unvisible {
    display: none;
}

.button-play,
.button-pause {
    width: 2rem;
    height: 2rem;
    background-color: $color-bright;
    background-size: contain;
}

.button-play {
    -webkit-mask: url('./assets/icons/play.svg') no-repeat center;
    mask: url('./assets/icons/play.svg') no-repeat center;
}

.button-pause {
    -webkit-mask: url('./assets/icons/pause.svg') no-repeat center;
    mask: url('./assets/icons/pause.svg') no-repeat center;
}

.player {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;

    @include media-mobile {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
}

.buttons__wrapper {
    display: flex;
    gap: 2rem;
}

.player__button {
    width: 2rem;
    height: 2rem;
    background-color: $color-additional;
    position: relative;
    cursor: pointer;

    &:hover {
        background-color: $color-bright;
    }
}

.skip-back {
    -webkit-mask: url('./assets/icons/skip-back.svg') no-repeat center;
    mask: url('./assets/icons/skip-back.svg') no-repeat center;
}

.skip-forward {
    -webkit-mask: url('./assets/icons/skip-forward.svg') no-repeat center;
    mask: url('./assets/icons/skip-forward.svg') no-repeat center;
}

.previous {
    -webkit-mask: url('./assets/icons/previous.svg') no-repeat center;
    mask: url('./assets/icons/previous.svg') no-repeat center;
}

.next {
    -webkit-mask: url('./assets/icons/next.svg') no-repeat center;
    mask: url('./assets/icons/next.svg') no-repeat center;
}

.play {
    -webkit-mask: url('./assets/icons/play.svg') no-repeat center;
    mask: url('./assets/icons/play.svg') no-repeat center;
}

.pause {
    -webkit-mask: url('./assets/icons/pause.svg') no-repeat center;
    mask: url('./assets/icons/pause.svg') no-repeat center;
}

.player_save {
    -webkit-mask: url('./assets/icons/save.svg') no-repeat center;
    mask: url('./assets/icons/save.svg') no-repeat center;
}

.player__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70rem;
    width: 40%;

    @include media-mobile {
        width: 80%;
    }
}

.player-volume__wrapper {
    display: flex;
    justify-content: flex-end;
    width: 20%;

    @include media-mobile {
        width: 50%;
        justify-content: center;
    }
}

.progress__wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1rem 0;
    align-items: center;
    gap: 1rem;
}

.time {
    @include font($size: 1.5rem);
    color: $color-additional;
}

.progress {
    height: 0.5rem;
    background: $color-additional-light;
    border-radius: $radius;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -0.1rem;
    height: 1rem;
    width: 1rem;
    border: 0;
    background: $color-additional;
    border-radius: $radius;
    cursor: pointer;
}

.progress::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

.progress_track {
    width: 100%;
}

.progress_volume {
    position: relative;

    &::before {
        content: '';
        width: 2rem;
        height: 2rem;
        -webkit-mask: url('./assets/icons/volume.svg') no-repeat center;
        mask: url('./assets/icons/volume.svg') no-repeat center;
        background-color: $color-additional;
        background-size: contain;
        position: absolute;
        top: -0.9rem;
        left: -3rem;
    }
}

.player__podcast-data {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    @include font($size: 1.5rem);
    width: 30%;
    overflow: hidden;

    @include media-mobile {
        width: 100%;
        justify-content: space-between;
    }
}

.player__image {
    display: inline-block;
    object-fit: contain;
    width: 5rem;
    height: 5rem;
    z-index: 1;
}

.player__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.player__title {
    max-width: 26.5rem;
    max-height: 1.5rem;
    overflow: hidden;

    &:hover {
        animation: movingText 5s infinite linear;
        overflow: hidden;
    }
}

@keyframes movingText {
    0% {
        translate: 0;
    }
    50% {
        translate: -100%;
    }
    100% {
        translate: 0;
    }
}
