.podcast {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.podcast__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include media-mobile {
        flex-direction: column;
        gap: 2rem;
    }
}

.podcast__image {
    display: block;
    width: 13%;
    border-radius: $radius;
    border: 1px solid $color-bright; //delete at the end

    @include media-mobile {
        width: 80%;
    }
}

.podcast__info {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include media-mobile {
        gap: 0;
        align-items: center;
    }
}

.podcast__owner {
    color: $color-additional;
}

.podcast__subscribe {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    bottom: 0;
}

.podcast__subscribe_spoti {
    display: flex;
    gap: 1rem;

    @include media-mobile {
        justify-content: center;
    }
}

.podcast__data {
    display: flex;
    justify-content: space-between;
    gap: 1%;

    @include media-mobile {
        flex-direction: column-reverse;
        gap: 3rem
    }
}

.podcast__description {
    //spotify edition
    width: 30%;

    @include media-mobile {
        width: 100%;
    }
}

.podcast__about__rr {
    //apple edition
    width: 100%;
    padding: 2rem 0;
    overflow: hidden;
}

.button_more {
    width: 5rem;
    font-weight: 600;
    position: relative;

    &::before {
        // ???
        content: '';
        position: absolute;
        top: 0;
        left: -4rem;
        width: 4rem;
        height: 2rem;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
    }
}

.podcast__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 67%;

    @include media-mobile {
        width: 100%;
    }
}
