$color-dark: #121212;
$color-light: #ffffff;
$color-bright: #993aed;
$color-bright-light: #f8f2fd;
$color-additional: #8a8a8a; //e.g loading player, title
$color-additional-light: #dddddd; //e.g. borders
$color-menu: #e0dee3;
$color-not-active: #cccccc;

$radius: 5px;
