@mixin font($size, $height: $size, $weight: 400, $style: normal) {
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
    font-style: $style;
}

@mixin media-tablet {
    @media (max-width: $content-width - 1) and (min-width: $table-width) {
      @content;
    }
}

@mixin media-mobile {
    @media (max-width: $table-width - 1) and (min-width: $mobile-width) {
      @content;
    }
}
