@mixin font($size, $height: $size, $weight: 400, $style: normal) {
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
    font-style: $style;
}

@mixin text-clamp($lines: 2, $line-height: false) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;

  // Fallback for non-Webkit browsers
  // (won't show `…` at the end of the block)
  @if $line-height {
    max-height: $line-height * $lines * 1px;
  }
}

@mixin media-tablet {
    @media (max-width: $content-width - 1) and (min-width: $table-width) {
      @content;
    }
}

@mixin media-mobile {
    @media (max-width: $table-width - 1) and (min-width: $mobile-width) {
      @content;
    }
}
