* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}


body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto; //pin footer at the end of page
}
