.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 5rem;

    @include media-mobile {
        max-width: 99%;
        padding: 0 1rem;
    }
}

.main__container {
  flex-grow: 1;
    width: 85%;
    margin-left: 15%;
    margin-top: 15rem;

    @include media-mobile {
        width: 100%;
        margin-left: 0;
        margin-top: 18rem;
    }
}
